<div class="container">
  <div class="sidebar">
    <!-- Contenido del menú -->
    <p-panelMenu [model]="items"></p-panelMenu>
  </div>
  <div class="content">
    <section class="header-fixed">
      <!-- Contenido del encabezado fijo -->
      <div class="user-container">
        <span class="username">Usuario: {{ username }}</span>
        <button class="logout-button" (click)="logout()">
          <i class="pi pi-sign-out"></i>
        </button>
      </div>
    </section>
    <section class="main-content">
      <!-- Contenido principal de la sección de contenido -->
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
