<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" class="flex flex-column gap-2">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input
          id="username"
          pInputText
          placeholder="Username"
          formControlName="username"
          styleClass="w-full"
          [maxlength]="15"
        />
      </div>
      <div class="custom-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-lock"></i>
        </span>
        <p-password
          placeholder="Password"
          formControlName="password"
          styleClass="w-100"
          [minlength]="5"
          [maxLength]="15"
          [feedback]="false"
          (onBlur)="onBlur($event)"
          class="w-full"
        ></p-password>
      </div>

      <span class="p-error" *ngIf="true">
        {{ message }}
      </span>
      <button
        pButton
        pRipple
        label="Login"
        styleClass="p-button-secondary"
        (click)="onSubmit()"
      ></button>
    </form>
  </div>
</div>
