<h3>Orden de Compra</h3>
<p-divider></p-divider>
<p-card>
  <form [formGroup]="myForm">
    <div class="grid formgrid p-fluid">
      <div
        class="col-12 md:col-6 lg:col-4 my-2"
        *ngFor="let filter of listFilterData"
      >
        <div class="grid">
          <label [for]="filter.key" class="col-12 md:col-12 lg:col-4">
            <span class="w-100 text-right">{{ filter.label }}:</span>
          </label>
          <div class="col-12 md:col-12 lg:col-8">
            <input
              type="text"
              pInputText
              [id]="filter.key"
              [formControlName]="filter.key"
              [placeholder]="filter.placeholder"
              [minlength]="filter.minlength ?? null"
              [maxlength]="filter.maxlength ?? 500"
              [pKeyFilter]="filter.pKeyFilter ?? alpha_space"
              class="w-full"
              (input)="filter.onInput($event)"
              (blur)="filter.selectBlur ? filter.onBlur($event) : null"
              *ngIf="filter.isInput"
            />
            <p-calendar
              [inputId]="filter.key"
              [id]="filter.key"
              [formControlName]="filter.key"
              [dateFormat]="filter.dateFormat"
              [placeholder]="filter.placeholder"
              [showIcon]="true"
              [minDate]="filter.min_date ?? null"
              [maxDate]="filter.max_date ?? null"
              (onSelect)="
                filter.selectDate ? filter.onSelectDate($event) : null
              "
              (onBlur)="filter.selectBlur ? filter.onBlur($event) : null"
              appendTo="body"
              *ngIf="filter.isDate"
            ></p-calendar>
            <p-autoComplete
              [id]="filter.key"
              [formControlName]="filter.key"
              [field]="filter.field"
              [placeholder]="filter.placeholder"
              [suggestions]="filter.suggestions"
              (completeMethod)="filter.search($event)"
              [pKeyFilter]="filter.pKeyFilter ?? alpha_space"
              (onSelect)="filter.onSelect($event)"
              *ngIf="filter.isAutocomplete"
            ></p-autoComplete>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-card>

<p-tabView styleClass="tabview-custom" class="m-2">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-calendar" ngClass="mx-2"></i>
      <span>Añadir Productos</span>
    </ng-template>
    <app-products></app-products>
  </p-tabPanel>
  <p-tabPanel header="Header II">
    <ng-template pTemplate="header">
      <i class="pi pi-user" ngClass="mx-2"></i>
      <span>Detalle de la compra</span>
    </ng-template>
    <app-products></app-products>
  </p-tabPanel>
</p-tabView>
