<h3>Orden de Compra</h3>
<p-divider></p-divider>

<p-tabView styleClass="tabview-custom" class="m-2">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-calendar" ngClass="mx-2"></i>
      <span>Añadir Productos</span>
    </ng-template>
    <app-products #productsSelected></app-products>
  </p-tabPanel>
  <p-tabPanel header="Header II">
    <ng-template pTemplate="header">
      <i class="pi pi-user" ngClass="mx-2"></i>
      <span>Detalle de la compra</span>
    </ng-template>
    <app-products-selling [products]="Products"></app-products-selling>
  </p-tabPanel>
</p-tabView>
